#                                        Pandas Advance-1

# Q.1 List any five functions of the pandas library with execution.

 1. " read_csv": This function used to read data from a CSV  file and create a DataFrame, a two dimensional tabular data structure in pandas
 2. " head(n) ": This function returns the first n row of  a DataFrame. It is useful for quickly inspecting the data.
 3. "Concat()": This Concat() function merge two or more DataFrame  and horizontally merge so that create new column
 4. "sort_values": This function is used to sort the DataFrame by one or more columns.
 5. "drop": This function is used to remove specified rows or columns from a DataFrame.

# Q.2  Given a Pandas DataFrame df with columns"A", "B", and "C", write a python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [1]:
import pandas as pd

In [2]:
data={"A":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
     "B":[11,22,33,44,55,66,77,88,99,11,1,222,333,444,555,666,777,888,999,1000],
     "C":[12,13,14,15,16,17,18,19,20,21,22,23,24,25,2,6,8,9,77,99]}

In [3]:
df=pd.DataFrame(data)

In [4]:
l=[1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39]

In [5]:
len(df["A"])

20

In [6]:
df1=pd.DataFrame(data, index=l)

In [7]:
df1

     A     B   C
1    1    11  12
3    2    22  13
5    3    33  14
7    4    44  15
9    5    55  16
11   6    66  17
13   7    77  18
15   8    88  19
17   9    99  20
19  10    11  21
21  11     1  22
23  12   222  23
25  13   333  24
27  14   444  25
29  15   555   2
31  16   666   6
33  17   777   8
35  18   888   9
37  19   999  77
39  20  1000  99

In [8]:
6+8

14

In [9]:
data1={"A":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18],
     "B":[11,22,33,44,55,66,77,88,99,11,1,222,333,444,555,666,777,888],
     "C":[12,13,14,15,16,17,18,19,20,21,22,23,24,25,2,6,8,9]}

In [10]:
df1=pd.DataFrame(data1)

In [11]:
df1

     A    B   C
0    1   11  12
1    2   22  13
2    3   33  14
3    4   44  15
4    5   55  16
5    6   66  17
6    7   77  18
7    8   88  19
8    9   99  20
9   10   11  21
10  11    1  22
11  12  222  23
12  13  333  24
13  14  444  25
14  15  555   2
15  16  666   6
16  17  777   8
17  18  888   9

In [12]:
import pandas as pd

def reindex_with_custom_increment(df1):
    new_index = pd.Series(range(1, 2 * len(df1), 2))
    df1 = df1.reset_index(drop=True)
    df1.index = new_index
    return df1

# Example usage:
# Assuming 'df' is your DataFrame with columns "A", "B", and "C"
# df = ... # Your DataFrame creation code here

df = reindex_with_custom_increment(df1)

In [13]:
df

     A    B   C
1    1   11  12
3    2   22  13
5    3   33  14
7    4   44  15
9    5   55  16
11   6   66  17
13   7   77  18
15   8   88  19
17   9   99  20
19  10   11  21
21  11    1  22
23  12  222  23
25  13  333  24
27  14  444  25
29  15  555   2
31  16  666   6
33  17  777   8
35  18  888   9

# Q.3 You have a Pandas DataFrame df with a column named "Values". Write a Python Function that iterates over the DataFrame and calculates the sum of the first three values in the "Values" column. The function should print the sum to the console.
# For example, if the "Values" column of df contains the values[10,20,30,40,50], your function should calculate and print the sum of the first three values, which is 60.

In [14]:
import pandas as pd

In [15]:
data={"Values":[10,20,30,40,50]}

In [16]:
l=[1,2,3,4,5]

In [17]:
df3=pd.DataFrame(data, index=l)

In [18]:
df3

   Values
1      10
2      20
3      30
4      40
5      50

In [19]:
df3[["Values"]][0:3].sum()

Values    60
dtype: int64

In [20]:
df3

   Values
1      10
2      20
3      30
4      40
5      50

In [21]:
def sum_of_first_three_values(x):
    first_3_values_sum=x["Values"].head(3).sum()
    print(f"The sum of the first three values is: {first_3_values_sum}")

In [22]:
sum_of_first_three_values(df3)

The sum of the first three values is: 60

# Q.4 Given a pandas DataFrame df with a column "Text", write a python function to create a new column "Word_Count" that contains the number of words in each row  of the "Text" column.

In [23]:
import pandas as pd

In [24]:
data={"Text":["The mens football tournament at the Asian Games 2023 in Hangzhou"," the People’s Republic of China, starts on September 19 and will conclude on October 7. Matches will be played across seven different venues.The men’s football event at the Asian Games has been an under-23 affair since 2002. However, each team is allowed a maximum of three players above 23 years of age in the squad."," At Hangzhou 2023, the men’s football tournament is being contested by 21 teams, who have been divided into four groups of four teams each, one group of three and one group of two for the preliminary round or group stage. The Indian men’s football team is in Group A with hosts China.Afghanistan and Syria, both in Group C, withdrew from the tournament leaving Uzbekistan and Hong Kong China as the only teams in the group.The Republic of Korea, reigning and record five-time champions, headline Group E."," The two teams in Group C will face each other twice. The remaining groups, meanwhile, will be played in a single-legged round robin format.The top two football teams from each group and the four best third-placed teams across all groups advance to the round of 16. For groups with four teams, the results against the fourth-placed teams won’t be considered while ranking the third-placed teams.The Shangcheng Sports Centre Stadium will host the bronze medal match on October 7 while the gold medal match is scheduled at the Huanglong Sports Center Stadium later on the same day.Live streaming of the Asian Games 2023 football matches will be available on Sony Liv. Asian Games football will be telecast live on the Sony Sports Network TV channels in India. ", " The All India Football Federation (AIFF), on Thursday, announced a revised 21-member Indian men’s football team for the Asian Games 2023, scheduled in Hangzhou, the People's Republic of China, from September 23 to October 8.The AIFF had announced a 22-member squad, including ace striker Sunil Chhetri, in August. However, the team was cut to 17 after Indian clubs had reportedly expressed concerns over releasing players for the continental meet with a busy football schedule on the cards, both on the domestic and international fronts.Goalkeeper Gurpreet Singh Sandhu and defender Sandesh Jhingan, who were the other two senior players barring Sunil Chhetri in the initial squad to Hangzhou, were left out from the second list. Sunil Chhetri, however, was retained.In the latest iteration, however, Sandesh Jhingan was added back to the squad. Chinglensana Singh, Lalchungnunga and Deepak Tangri were also included.The men’s football event at the Asian Games has been an under-23 affair since 2002 with each team allowed a maximum of three players above 23 years.","It is a wonderful development that some experienced players have been added to the Asian Games squad, who will certainly help the cause of the team","India head coach Igor Stimac said.", "I am thankful to everyone for making it happen. Whoever represents India, together we will be honoured to defend the flag." ,"I am very happy to see that more senior players have answered the call to join the national team for the Asian Games"," India captain Sunil Chhetri noted." ,"Our Indian team are going to the Asian Games for the first time in nine years, and it is indeed a special occasion for all of us, who will get this opportunity.", "The Indian men’s football team has been drawn in Group A alongside hosts China, Bangladesh and Myanmar.India, 99th in the latest FIFA rankings, will be the second-best ranked team in their group behind China (80th). Myanmar are ranked 160th while Bangladesh are 189th.The Indian men’s football team won gold medals at the New Delhi 1951 and Jakarta 1962 Asian Games while clinching a bronze at Bangkok 1970. The Hangzhou 2023 Games will be the 16th Asian Games appearance for the Indian men’s football team.The Indian football team is participating in the Hangzhou Games as a special case. The sports ministry relaxed its rules on the basis of India’s current performances that saw the national team winning back-to-back international tournaments – Intercontinental Cup and the SAFF Cup.As per government rules, teams that rank eighth or better in Asia are allowed to participate in continental events like the Asian Games. It was on this basis that Indian football teams did not play in the 2018 Asian Games in Jakarta. Indian men are currently ranked 18th in Asia. India will be participating in the upcoming Games after a gap of nine years."]}

In [25]:
df44=pd.DataFrame(data)

In [26]:
pd.set_option("display.max_colwidth",500)

In [27]:
df44

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   Text
0                                                                                                                                                                                                                                                                                                                                                                                                                                                      The mens football tournament at the Asian Games 2023 in Hangzhou
1                                                                                                                                                                                          the People’s Republic of China, starts on September 19 and will conclude on October 7. Matches will be played across seven different venues.The men’s football event at the Asian Games has been an under-23 affair since 2002. However, each team is allowed a maximum of three players above 23 years of age in the squad.
2    At Hangzhou 2023, the men’s football tournament is being contested by 21 teams, who have been divided into four groups of four teams each, one group of three and one group of two for the preliminary round or group stage. The Indian men’s football team is in Group A with hosts China.Afghanistan and Syria, both in Group C, withdrew from the tournament leaving Uzbekistan and Hong Kong China as the only teams in the group.The Republic of Korea, reigning and record five-time champions, headline ...
3    The two teams in Group C will face each other twice. The remaining groups, meanwhile, will be played in a single-legged round robin format.The top two football teams from each group and the four best third-placed teams across all groups advance to the round of 16. For groups with four teams, the results against the fourth-placed teams won’t be considered while ranking the third-placed teams.The Shangcheng Sports Centre Stadium will host the bronze medal match on October 7 while the gold med...
4    The All India Football Federation (AIFF), on Thursday, announced a revised 21-member Indian men’s football team for the Asian Games 2023, scheduled in Hangzhou, the People's Republic of China, from September 23 to October 8.The AIFF had announced a 22-member squad, including ace striker Sunil Chhetri, in August. However, the team was cut to 17 after Indian clubs had reportedly expressed concerns over releasing players for the continental meet with a busy football schedule on the cards, both...
5                                                                                                                                                                                                                                                                                                                                                                   It is a wonderful development that some experienced players have been added to the Asian Games squad, who will certainly help the cause of the team
6                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    India head coach Igor Stimac said.
7                                                                                                                                                                                                                                                                                                                                                                                            I am thankful to everyone for making it happen. Whoever represents India, together we will be honoured to defend the flag.
8                                                                                                                                                                                                                                                                                                                                                                                                  I am very happy to see that more senior players have answered the call to join the national team for the Asian Games
9                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    India captain Sunil Chhetri noted.
10                                                                                                                                                                                                                                                                                                                                                     Our Indian team are going to the Asian Games for the first time in nine years, and it is indeed a special occasion for all of us, who will get this opportunity.
11  The Indian men’s football team has been drawn in Group A alongside hosts China, Bangladesh and Myanmar.India, 99th in the latest FIFA rankings, will be the second-best ranked team in their group behind China (80th). Myanmar are ranked 160th while Bangladesh are 189th.The Indian men’s football team won gold medals at the New Delhi 1951 and Jakarta 1962 Asian Games while clinching a bronze at Bangkok 1970. The Hangzhou 2023 Games will be the 16th Asian Games appearance for the Indian men’s foo...

In [28]:
df44["len"]=df44["Text"].apply(len)

In [29]:
df44

,Text,len
0,The mens football tournament at the Asian Games 2023 in Hangzhou,64
1,"the People’s Republic of China, starts on September 19 and will conclude on October 7. Matches will be played across seven different venues.The men’s football event at the Asian Games has been an under-23 affair since 2002. However, each team is allowed a maximum of three players above 23 years of age in the squad.",317
2,"At Hangzhou 2023, the men’s football tournament is being contested by 21 teams, who have been divided into four groups of four teams each, one group of three and one group of two for the preliminary round or group stage. The Indian men’s football team is in Group A with hosts China.Afghanistan and Syria, both in Group C, withdrew from the tournament leaving Uzbekistan and Hong Kong China as the only teams in the group.The Republic of Korea, reigning and record five-time champions, headline ...",504
3,"The two teams in Group C will face each other twice. The remaining groups, meanwhile, will be played in a single-legged round robin format.The top two football teams from each group and the four best third-placed teams across all groups advance to the round of 16. For groups with four teams, the results against the fourth-placed teams won’t be considered while ranking the third-placed teams.The Shangcheng Sports Centre Stadium will host the bronze medal match on October 7 while the gold med...",758
4,"The All India Football Federation (AIFF), on Thursday, announced a revised 21-member Indian men’s football team for the Asian Games 2023, scheduled in Hangzhou, the People's Republic of China, from September 23 to October 8.The AIFF had announced a 22-member squad, including ace striker Sunil Chhetri, in August. However, the team was cut to 17 after Indian clubs had reportedly expressed concerns over releasing players for the continental meet with a busy football schedule on the cards, both...",1066
5,"It is a wonderful development that some experienced players have been added to the Asian Games squad, who will certainly help the cause of the team",147
6,India head coach Igor Stimac said.,34
7,"I am thankful to everyone for making it happen. Whoever represents India, together we will be honoured to defend the flag.",122
8,I am very happy to see that more senior players have answered the call to join the national team for the Asian Games,116
9,India captain Sunil Chhetri noted.,35
10,"Our Indian team are going to the Asian Games for the first time in nine years, and it is indeed a special occasion for all of us, who will get this opportunity.",160
11,"The Indian men’s football team has been drawn in Group A alongside hosts China, Bangladesh and Myanmar.India, 99th in the latest FIFA rankings, will be the second-best ranked team in their group behind China (80th). Myanmar are ranked 160th while Bangladesh are 189th.The Indian men’s football team won gold medals at the New Delhi 1951 and Jakarta 1962 Asian Games while clinching a bronze at Bangkok 1970. The Hangzhou 2023 Games will be the 16th Asian Games appearance for the Indian men’s foo...",1143

In [30]:
df44["word_count"]=df44["Text"].apply(lambda x: len(x.split()))

In [31]:
df44

,Text,len,word_count
0,The mens football tournament at the Asian Games 2023 in Hangzhou,64,11
1,"the People’s Republic of China, starts on September 19 and will conclude on October 7. Matches will be played across seven different venues.The men’s football event at the Asian Games has been an under-23 affair since 2002. However, each team is allowed a maximum of three players above 23 years of age in the squad.",317,55
2,"At Hangzhou 2023, the men’s football tournament is being contested by 21 teams, who have been divided into four groups of four teams each, one group of three and one group of two for the preliminary round or group stage. The Indian men’s football team is in Group A with hosts China.Afghanistan and Syria, both in Group C, withdrew from the tournament leaving Uzbekistan and Hong Kong China as the only teams in the group.The Republic of Korea, reigning and record five-time champions, headline ...",504,86
3,"The two teams in Group C will face each other twice. The remaining groups, meanwhile, will be played in a single-legged round robin format.The top two football teams from each group and the four best third-placed teams across all groups advance to the round of 16. For groups with four teams, the results against the fourth-placed teams won’t be considered while ranking the third-placed teams.The Shangcheng Sports Centre Stadium will host the bronze medal match on October 7 while the gold med...",758,126
4,"The All India Football Federation (AIFF), on Thursday, announced a revised 21-member Indian men’s football team for the Asian Games 2023, scheduled in Hangzhou, the People's Republic of China, from September 23 to October 8.The AIFF had announced a 22-member squad, including ace striker Sunil Chhetri, in August. However, the team was cut to 17 after Indian clubs had reportedly expressed concerns over releasing players for the continental meet with a busy football schedule on the cards, both...",1066,166
5,"It is a wonderful development that some experienced players have been added to the Asian Games squad, who will certainly help the cause of the team",147,26
6,India head coach Igor Stimac said.,34,6
7,"I am thankful to everyone for making it happen. Whoever represents India, together we will be honoured to defend the flag.",122,21
8,I am very happy to see that more senior players have answered the call to join the national team for the Asian Games,116,23
9,India captain Sunil Chhetri noted.,35,5
10,"Our Indian team are going to the Asian Games for the first time in nine years, and it is indeed a special occasion for all of us, who will get this opportunity.",160,32
11,"The Indian men’s football team has been drawn in Group A alongside hosts China, Bangladesh and Myanmar.India, 99th in the latest FIFA rankings, will be the second-best ranked team in their group behind China (80th). Myanmar are ranked 160th while Bangladesh are 189th.The Indian men’s football team won gold medals at the New Delhi 1951 and Jakarta 1962 Asian Games while clinching a bronze at Bangkok 1970. The Hangzhou 2023 Games will be the 16th Asian Games appearance for the Indian men’s foo...",1143,189

# Q.5 How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size and DataFrame.shape are both attributes in the pandas library in Python, but they provide different information about a DataFrame:

  A.. DataFrame.size:

                   DataFrame.size returns the total number of elements in the DataFrame. It counts both rows and columns, considering each cell as one element.

Example:

import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

size = df.size
print(size)  # Output: 6 (3 rows * 2 columns = 6 elements)
In the example, the DataFrame df has 3 rows and 2 columns, so df.size returns 6.

  
    
    B..DataFrame.shape:

DataFrame.shape returns a tuple representing the dimensions of the DataFrame. It provides the number of rows and columns in the DataFrame.

Example:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

shape = df.shape
print(shape)  # Output: (3, 2) (3 rows, 2 columns)
In the example, df.shape returns (3, 2) indicating that the DataFrame has 3 rows and 2 columns.

shape[0] gives the number of rows, and shape[1] gives the number of columns.

                             
    
                             In summary:

DataFrame.size gives the total number of elements in the DataFrame (rows * columns).
DataFrame.shape provides a tuple representing the dimensions of the DataFrame (number of rows, number of columns).
These attributes are useful for understanding the size and structure of a DataFrame, which is essential for data manipulation and analysis.

# Q.6 Which function of pandas do we use to read an excel file?

The function in pandas used to read an Excel file is pandas.read_excel().



pandas.read_excel():
This function is part of the pandas library in Python and is used to read data from Excel files.

Example usage:

import pandas as pd

# Read an Excel file
df = pd.read_excel('file.xlsx')


                                      Parameters:

    1. io: 
          Specifies the path or Excel file-like object (e.g., file path or buffer).

    2. sheet_name: 
                 Specifies which sheet to read (default is the first sheet).

        Additional parameters allow for customization of how the data is read (e.g., specifying specific columns, handling headers, etc.).

    3. Returns:

            The function returns a DataFrame containing the data from the Excel file.
 
  Using pandas.read_excel(), you can easily import data from Excel spreadsheets into a DataFrame for further analysis and manipulation in Python. 
    This function supports various Excel file formats, including .xls and .xlsx.

# Q.7 You have a pandas DataFrame df that contains  a column named "Email" that contains email addresses in the formate "username@domain.com". 
# Write a Python function that creates a new column "Username" in df that contains only the username part of each email address.

# The username is the part of the email address that appears before the "@" symbol. FOr example, if the email address is "john@example.com",
# the "Username" column should contain "john.doe". Your function should extract the username from each email address and store it in the new "Username" column.

In [32]:
import pandas as pd

In [33]:
df7=pd.DataFrame({"Email":["username@domain.com","john@example.com","john.doe@jd.com"]})

In [34]:
df7

                 Email
0  username@domain.com
1     john@example.com
2      john.doe@jd.com

In [35]:
def extract_email(x):
    x["Username"]=x["Email"].str.split("@").str[0]
    x["Domain_name"]=x["Email"].str.split("@").str[1]
    print(x)

In [36]:
extract_email(df7)

                 Email  Username  Domain_name
0  username@domain.com  username   domain.com
1     john@example.com      john  example.com
2      john.doe@jd.com  john.doe       jd.com

# Q.8 You have a pandas Dataframe df with columns "A", "B", and "C" . Write a python function that selects all rows where the value in 
# column "A" is greater than 5 and the value in column "B" is less than 10. The function should return a new DataFrame that contains only
# the selected rows.
# For example, if df contains the following values:
 #   A=[3,8,6,2,9]
 #   B=[5,2,9,3,1]
 #   c=[1,7,4,5,2]

In [37]:
data9={'A':[3,8,6,2,9],
'B':[5,2,9,3,1],
'c':[1,7,4,5,2]}

In [38]:
df9=pd.DataFrame(data9)

In [39]:
df9

   A  B  c
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [40]:
new_data=df9[(df9["A"]>5) & (df9["B"]<10)]

In [41]:
new_data

   A  B  c
1  8  2  7
2  6  9  4
4  9  1  2