#      pandas Advance-2

Consider following code to answer further question:
    import pandas as pd
    course_name = ["Data Science", "Machine learning", "Big Data", "Data Engineer"]
    duration = [2,3,6,4]
    df = pd.DtaFrame(data = {"course_name" : course_name, "duration": duration})

# Q1. write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({"a":[1,2,3,4,5],
                "b":[11,22,33,44,55],
                "c":[111,222,333,444,555,],
                "d":["souma","raj","reju","suderson","channki"]})

In [3]:
df

   a   b    c         d
0  1  11  111     souma
1  2  22  222       raj
2  3  33  333      reju
3  4  44  444  suderson
4  5  55  555   channki

In [4]:
second_row= df.iloc[1]

In [5]:
second_row

a      2
b     22
c    222
d    raj
Name: 1, dtype: object

# Q.2 What is the difference between the function loc and iloc in pandas.DataFrame?

loc and iloc are both accessors in pandas used for indexing and selecting data from a DataFrame, but they have some key differences:

   A.... loc:

             loc is primarily label-based indexing. It is used for selecting data based on the labels of rows and columns.

Example usage:


import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data, index=['x', 'y', 'z'])

result = df.loc['y', 'A']
In this example, df.loc['y', 'A'] selects the value at row 'y' and column 'A'.

        loc supports boolean indexing and can accept labels or boolean arrays.

        loc also allows you to perform operations like slicing based on labels.


        
    B.... iloc:

iloc is primarily integer-location based indexing. It is used for selecting data based on the numerical positions of rows and columns.

Example usage:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

result = df.iloc[1, 0]
In this example, df.iloc[1, 0] selects the value at row 1 and column 0 (zero-based indexing).

      iloc supports integer-based slicing and indexing.

       It does not accept labels; it only works with numerical indices.


    C.... Key Differences:

                         i). loc uses label-based indexing, which means it accepts labels to select rows and columns.
                         ii). iloc uses integer-based indexing, which means it accepts numerical positions to select rows and columns 
                              (similar to how you would index a list).

                    
     D.... Choosing between loc and iloc:

                                    i). Use loc when you want to select data based on labels (row and column names).
                                  ii). Use iloc when you want to select data based on numerical positions (integer indices).
                                iii). Both loc and iloc are powerful tools that provide flexibility in accessing data from a DataFrame, and the choice
                                    between them depends on the specific requirements of your data manipulation tasks.

# Q.3 Reindex the given dataframe using a variable, reindex=[3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
# Did you observe any difference in both the outputs? If so then explain it.
# Consider the below code to answer further questions:
#   
#    import pandas as pd
#    import numpy as np
#    column = ["column_1", "column_2", "column_3", "column_4", "column_5", "column_6"]
#    indices = [1,2,3,4,5,6]
#    # creating a dataframe:
#    df1 = pd.DataFrame(np.DataFrame(np.random.rand(6,6), columns=columns, index = indices)

In [6]:
#Reindex the given dataframe using a variable, reindex=[3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [7]:
import pandas as pd

In [8]:
df=pd.DataFrame({"a":[2,1,4,3],
                "b":[33,22,11,44],
                "c":[111,444,333,222]})

In [9]:
df

   a   b    c
0  2  33  111
1  1  22  444
2  4  11  333
3  3  44  222

In [10]:
new_df=df.reindex([3,0,1,2])

In [11]:
new_df

   a   b    c
3  3  44  222
0  2  33  111
1  1  22  444
2  4  11  333

In [12]:
new_df.iloc[2]

a      1
b     22
c    444
Name: 1, dtype: int64

In [13]:
new_df.loc[2]

a      4
b     11
c    333
Name: 2, dtype: int64

In [14]:
# Did you observe any difference in both the outputs? If so then explain it.

In [15]:
#    yes, iloc takes in built index but loc takes givenindex

In [16]:
# import pandas as pd
#import numpy as np
#column = ["column_1", "column_2", "column_3", "column_4", "column_5", "column_6"]
#indices = [1,2,3,4,5,6]
# creating a dataframe:
#df1 = pd.DataFrame(np.DataFrame(np.random.rand(6,6), columns=columns, index = indices)

In [17]:
import pandas as pd
import numpy as np
column = ["column_1", "column_2", "column_3", "column_4", "column_5", "column_6"]
indices = [1,2,3,4,5,6]
# creating a dataframe:
df1 = pd.DataFrame(pd.DataFrame(np.random.rand(6,6), columns=column, index = indices))

In [18]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.332393  0.741370  0.311082  0.022984  0.551881  0.189114
2  0.561067  0.068065  0.240284  0.831750  0.930196  0.830257
3  0.305804  0.802638  0.446291  0.690367  0.275204  0.749955
4  0.412627  0.960769  0.474150  0.866287  0.668024  0.125986
5  0.052861  0.748755  0.660798  0.146851  0.050541  0.468431
6  0.420368  0.931459  0.911167  0.747765  0.284216  0.818711

# Q.4 Write a code to find the following statistical measurements for the above dataframe df1:
#    (i) mean of each and every column present in the dataframe.
#    (ii) standard deviation of column, "column_2'

In [19]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.332393  0.741370  0.311082  0.022984  0.551881  0.189114
2  0.561067  0.068065  0.240284  0.831750  0.930196  0.830257
3  0.305804  0.802638  0.446291  0.690367  0.275204  0.749955
4  0.412627  0.960769  0.474150  0.866287  0.668024  0.125986
5  0.052861  0.748755  0.660798  0.146851  0.050541  0.468431
6  0.420368  0.931459  0.911167  0.747765  0.284216  0.818711

In [20]:
df1['column_1'].mean()

0.3475198767402144

# i) mean of each and every column present in the dataframe

In [21]:
pd.DataFrame({"col_1_mean":[df1['column_1'].mean()],
             "col_2_mean":[df1['column_2'].mean()],
              "col_3_mean":[df1['column_3'].mean()],
              "col_4_mean":[df1['column_4'].mean()],
              "col_5_mean":[df1['column_5'].mean()],
              "col_6_mean":[df1['column_6'].mean()],
              
             })

   col_1_mean  col_2_mean  col_3_mean  col_4_mean  col_5_mean  col_6_mean
0     0.34752    0.708843    0.507295       0.551     0.46001    0.530409

# (ii) standard deviation of column, "column_2'

In [22]:
df1['column_2'].std()

0.3271295789016034

# Q.5 Replace the data present in the second row  of column, "column_2" by a string variable then find the mean of column, "column_2".
# If you are getting errors in executing it then explain why.
# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [23]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.332393  0.741370  0.311082  0.022984  0.551881  0.189114
2  0.561067  0.068065  0.240284  0.831750  0.930196  0.830257
3  0.305804  0.802638  0.446291  0.690367  0.275204  0.749955
4  0.412627  0.960769  0.474150  0.866287  0.668024  0.125986
5  0.052861  0.748755  0.660798  0.146851  0.050541  0.468431
6  0.420368  0.931459  0.911167  0.747765  0.284216  0.818711

In [24]:
df1.loc[0:2,['column_2']]

   column_2
1  0.741370
2  0.068065

In [25]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.332393  0.741370  0.311082  0.022984  0.551881  0.189114
2  0.561067  0.068065  0.240284  0.831750  0.930196  0.830257
3  0.305804  0.802638  0.446291  0.690367  0.275204  0.749955
4  0.412627  0.960769  0.474150  0.866287  0.668024  0.125986
5  0.052861  0.748755  0.660798  0.146851  0.050541  0.468431
6  0.420368  0.931459  0.911167  0.747765  0.284216  0.818711

# Q.6  what do you understand about the  windows function in pandas and list the types of windows functions?

In pandas, a window function (also known as a windowed or analytical function) is a function that performs calculations across a specified range of rows related to the current row. 
 It allows you to compute aggregate statistics or apply transformations within a defined window of data in a DataFrame.

Here are some common types of window functions in pandas:

    1. rolling():

                This function creates a rolling view of a specified window size over a series or DataFrame. It's commonly used for tasks like calculating rolling means, sums, or other 
                statistics.
    
    2. expanding():

                The expanding function computes an expanding window view, which means it includes all the data points from the start up to the current row. It's useful for calculating 
                 cumulative sums, means, or other aggregates.
     
    3. ewm() (Exponentially Weighted Moving Average):

                                                 This function computes the exponentially weighted moving average, which assigns different weights to data points based on their recency.
                                                 It's suitable for tasks like calculating smoothed averages.

    4. rank():

             The rank function assigns a rank to each element in a series or DataFrame, optionally within a specified window. It can be used to identify the relative position of 
              data points.
    
    5. aggregate() and transform():

                                 These functions allow you to perform custom aggregation or transformation operations within a window. You can apply your own defined function to
                                 the data within the specified window.

    6. sum(), mean(), min(), max(), etc. (Aggregation Functions):

                                                                These are standard aggregation functions that can be applied within a window. They calculate the sum, mean, minimum,
                                                                 maximum, etc., of the data within the specified window.

    7. cumsum(), cumprod(), cummin(), cummax() (Cumulative Functions):

                                                                     These functions compute cumulative sums, products, minimums, or maximums within a window.
                                                                     They accumulate values from the start up to the current row.

    8. shift() and diff():

                        While not traditional window functions, these functions can be used in combination with window operations to perform tasks like calculating differences 
                        or shifts within a window.

    9. cov() and corr():

                       These functions calculate the covariance and correlation matrices, respectively, which can be applied within a window to compute time-based correlations
                       or covariances.

                
    These window functions are powerful tools for time series analysis, data transformation, and feature engineering tasks in pandas.
    They enable you to gain insights into the patterns and trends within your data over specific time intervals or moving windows.


    10. rolling().apply():

                         You can apply custom functions to rolling windows using the apply() method. This allows you to perform complex calculations or transformations within 
                         the defined window.

    11. rolling().agg():

                      The agg() method in conjunction with rolling() allows you to apply multiple aggregation functions simultaneously within a rolling window,
                        producing multiple summary statistics in one pass.

    12. shift() with Custom Windows:

                                   While shift() is not a traditional window function, you can use it to create custom windows by shifting data points within a time series. 
                                   This can be valuable for analyzing data in non-standard windows.

    13. expanding().apply() and ewm().apply():

                                            Similar to rolling windows, you can also apply custom functions within expanding or exponentially weighted windows using the apply() method.
                                            This provides flexibility for various time-based calculations.

    14. rolling().quantile():

                             This function calculates quantiles (percentiles) within a rolling window, allowing you to analyze the distribution of data within specific time intervals.

    15. rolling().cov() and rolling().corr():

                                          These functions compute rolling covariance and correlation matrices, which are useful for time series analysis and risk assessment.

    16. expanding().skew() and expanding().kurt():

                                              These functions calculate the skewness and kurtosis of data within an expanding window. They help in assessing the shape and distribution 
                                              of data as it accumulates over time.

    17. rolling().applymap():

                           The applymap() function within a rolling window can be used to apply element-wise custom functions to DataFrame windows, providing fine-grained control 
                           over data transformations.

    18. rolling().window() and expanding().window():

                                                 These functions return a NumPy-style rolling or expanding window object, allowing for advanced custom operations on the data,
                                                 such as custom aggregation or element-wise calculations.

    19. rolling().shift() and rolling().diff():

                                             Combining rolling windows with the shift() and diff() functions enables the calculation of changes or differences within a moving time frame,
                                             which can be valuable in various analytical scenarios.

                
    These additional window functions expand the capabilities of pandas for time series analysis, data manipulation, and feature engineering. 
    They empower you to explore, analyze, and transform your data based on various time-based and moving window criteria.

    
    

    20. rolling().rolling():
                         You can apply multiple rolling operations sequentially using the rolling() function within another rolling() operation. This allows for more complex
                          calculations involving nested windows.

    21. expanding().agg() and ewm().agg():
                                        These methods enable the application of multiple aggregation functions within expanding or exponentially weighted windows, 
                                         allowing for the simultaneous computation of multiple summary statistics.

    22. expanding().applymap() and ewm().applymap():
                                                   These functions apply element-wise custom functions within expanding or exponentially weighted windows. This provides fine-grained 
                                                     control over the transformations applied to individual elements.

    23. rolling().rank() and expanding().rank():
                                            These functions compute ranks within rolling and expanding windows, allowing you to analyze the relative positions of data points over time.

    
    24. rolling().cumcount():
                            This function returns the cumulative count of non-null elements within a rolling window. It's useful for tasks involving data completeness or density.

    25. expanding().cummin() and expanding().cummax():
                                                         These functions calculate the cumulative minimum and maximum values within an expanding window. They can be helpful
                                                         for tracking the range of data over time.

    26. rolling().expanding() and expanding().rolling():
                                                          Combining rolling and expanding windows allows for advanced calculations involving both a moving time frame and an 
                                                          accumulating dataset.
    
    27. rolling().var() and rolling().std():
                                                These functions compute the rolling variance and standard deviation, which are important for analyzing data variability and volatility 
                                                over time.

    28. rolling().apply() with lambda functions:
                                                   You can use lambda functions within a rolling window's apply() method to perform concise and on-the-fly calculations within 
                                                   the specified window.

    29. expanding().max() and expanding().min():
                                                  These functions calculate the maximum and minimum values within an expanding window, providing insights into the overall 
                                                  range of data as it accumulates.

    30 rolling().corrwith():
                                This function computes the pairwise correlation between a column in a DataFrame and the specified series or DataFrame within a rolling window.

                
    These advanced window functions extend the capabilities of pandas, allowing for even more sophisticated time series analysis, feature engineering, and data transformation tasks.
    They provide the flexibility needed to address a wide range of analytical challenges in various domains.

# Q.7 Write a code to print only the current month and year at the time of answering this question.[Hint: Use pandas.datetime function]

In [26]:
import pandas as pd

In [27]:
today_date=pd.to_datetime("now")

/tmp/ipykernel_341/263908062.py:1: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  today_date=pd.to_datetime("now")

In [28]:
today_date

Timestamp('2023-10-28 08:04:13.215515')

In [29]:
print(f"today_date:{today_date}")

today_date:2023-10-28 08:04:13.215515

# Q.8 Write a python program that takes in two dates as input(in the format yyyy-mm-dd) and calculates the difference between them  in days, hours, and minutes using pandas time delta. The program should prompt the user to enter  the dates and display the result.

In [30]:
import pandas as pd

In [31]:
def time_diff(start_date,end_date):
    start_date=pd.to_datetime(start_date)
    end_date=pd.to_datetime(end_date)
    time_difference=end_date - start_date
    days=time_difference.days
    hours=time_difference.seconds//3600
    minutes=(time_difference.seconds % 3600)//60
    print(f"time_difference:{days}days,{hours}hours,{minutes}minutes.")

In [32]:
start_date=input("enter the start date(yyyy-mm-dd):")

enter the start date(yyyy-mm-dd): 2023-04-5

In [33]:
end_date=input("enter the end date(yyyy-mm-dd):")

enter the end date(yyyy-mm-dd): 2023-08-26

In [34]:
time_diff(start_date,end_date)

time_difference:143days,0hours,0minutes.

# Q.9 Write  a python program that reads a csv file containing categorical data and convert a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [35]:
import seaborn as sns
import pandas as pd

In [36]:
df9=sns.load_dataset("tips")

In [37]:
df9.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [38]:
df9.to_csv("Tips.csv",index=False)

In [39]:
df9.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [40]:
pd.Categorical(df9["sex"])

['Female', 'Male', 'Male', 'Male', 'Female', ..., 'Male', 'Female', 'Male', 'Male', 'Female']
Length: 244
Categories (2, object): ['Male', 'Female']

# Q.10 Write a python program that reads a csv file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [57]:
import pandas as pd

# Q.11 you are given a csv file containing student data that includes the student ID and their test score. Write a python program that reads the csv file , calculates the mean, median, and mode of the test scores, and displays the results in a table.
# The program should do the following:
#    * prompt the user to enter the file path of the csv file containing the student data.
#    * read the csv file into a pandas DataFrame.
#    * Calculate the mean, median, and mode in a table.
#    * Display the mean, median, and mode in a table.
    
# Assume the CSv file contains the following columns:

#    *Student ID: The ID  of the student.
#    * Test Score: The Score of the student's test.
    
# Example usage of the program:
# Enter the file path of the CSV file containing the student data: student_data.csv
# +-----------+--------+
# | Statistic | Value |
# +-----------+--------+
# | Mean | 79.6 |
# | Median | 82 |
# | Mode | 85, 90 |
# +-----------+--------+
# Assume that the CSV file student_data.csv contains the following data:
# Student ID,Test Score
# 1,85
# 2,90
# 3,80
# 4,75
# 5,85
# 6,82
# 7,78
# 8,85
# 9,90
# 10,85
# The program should calculate the mean, median, and mode of the test scores and display the results in a table.

In [41]:
import pandas as pd

In [42]:
input_user=input("enter your file path")

enter your file path testscore.csv

In [43]:
df=pd.read_csv(input_user)

In [44]:
df["Test_score_mean"]=df["Test Score"].mean()
df["Test_score_median"]=df["Test Score"].median()
df["Test_score_mode"]=df["Test Score"].mode()
df["Test_score_std"]=df["Test Score"].std()

In [45]:
df

,Student Id,Test Score,Test_score_mean,Test_score_median,Test_score_mode,Test_score_std
0,1,85,83.5,85.0,85.0,4.836206
1,2,90,83.5,85.0,NaN,4.836206
2,3,80,83.5,85.0,NaN,4.836206
3,4,75,83.5,85.0,NaN,4.836206
4,5,85,83.5,85.0,NaN,4.836206
5,6,82,83.5,85.0,NaN,4.836206
6,7,78,83.5,85.0,NaN,4.836206
7,8,85,83.5,85.0,NaN,4.836206
8,9,90,83.5,85.0,NaN,4.836206
9,10,85,83.5,85.0,NaN,4.836206

In [46]:
df1=pd.DataFrame({"mean":[df["Test Score"].mean()],
"median":[df["Test Score"].median()],
"mode":[df["Test Score"].mode()],
"std":[df["Test Score"].std()]
})

In [47]:
df1

   mean  median                                    mode       std
0  83.5    85.0  0    85
Name: Test Score, dtype: int64  4.836206

In [48]:
def result_detail(file_path):
    df11=pd.read_csv(file_path)
    df12=pd.DataFrame({"mean":[df11["Test Score"].mean()],
                       "median":[df11["Test Score"].median()],
                       "mode":[df11["Test Score"].mode()],
                       "std":[df11["Test Score"].std()]})
    print(df12)

In [49]:
user=input("enter file path")

enter file path testscore.csv

In [50]:
result_detail(user)

   mean  median                                    mode       std
0  83.5    85.0  0    85
Name: Test Score, dtype: int64  4.836206